@font-face {
    font-family: "Geometos";
    src: url('./fonts/Geometos.woff2') format('woff2'),
        url('./fonts/Geometos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/***********************************************/

html, body {
    overflow: hidden;
    height: 100%;
}

.parent {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #e0e0e0;
}

.header {
    background-color: #ffffff;
    display: flex;
    padding-top: 1em;
    padding-bottom: 0.6em;
}
.header a {
    margin: auto;
}
.header img {
    transition: ease 0.3s;
    cursor: pointer;
}
.header img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.navBar {
    background-color: #ffffff;
    padding: 1.5em;
    border-bottom: 4px solid #1b75bc;
}
.navBar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.navBar li {
    display: inline-block;
    transition: ease 0.3s;
    font-family: "Geometos";
    font-size: 1.1em;
    vertical-align: middle;
}
.navBar a {
    text-decoration: none;
    color: black;
    transition: ease 0.3s;
}
.navBar a:hover {
    color: #1b75bc;
    letter-spacing: 0.1rem;
}

.convertHeadline {
    color: black;
    font-family: "Geometos";
    display: flex;
    padding-top: 2em;
    padding-bottom: 1em;
    transition: ease 0.3s;
}

.spanGroup {
    display: flex;
    margin: auto;
}

.rFormat {
    color: #1b75bc;
    transform: scale(-1, 1);
}

.panelWrapper {
    display: flex;
}

.conversionPanel {
    display: flex;
    background-color: #1b76bce1;
    border-radius: 1em;
    width: 90%;
    max-width: 950px;
    padding-top: 4em;
    padding-bottom: 4em;
    margin: auto;
    transition: ease 0.3s;
}
.conversionPanel:hover {
    background-color: #1b76bc;
}
.conversionPanel:hover .rowWrapper img {
    transform: rotate(180deg);
    height: 55px;
    padding-top: 0.93em;
    padding-bottom: 0.93em;
}

.rowWrapper {
    margin: auto;
}

.rowWrapper img {
    display: flex;
    margin: auto;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    transition: ease 0.35s;
}

.row input {
    width: 50vw;
    max-width: 600px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-right: 1em;
    font-family: "Geometos";
    font-size: 1.5em;
    border: 2px solid #ffffff;
    border-radius: 0.65em;
    outline: none;
    transition: ease 0.3s;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.row input:hover {
    background-color: rgb(198, 228, 255);
    border-color: rgb(198, 228, 255);
}

.row select {
    width: 18vw;
    max-width: 200px;
    height: 45px;
    vertical-align: middle;
    padding-left: 0.65em;
    background-color: #1b76bc00;
    border: 2px solid #ffffff;
    border-radius: 0.7em;
    outline: none;
    color: white;
    font-family: "Geometos";
    transition: ease 0.3s;
}
.row select:hover {
    background-color: white;
    color: black;
    height: 56px;
    cursor: pointer;
}

.convertFactor {
    color: black;
    font-family: "Geometos";
    display: flex;
    padding-top: 2.5em;
    transition: ease 0.3s;
}

.convertFactor h3 {
    margin: auto;
    margin-bottom: -2em;
}

.decoration {
    background-size: cover;
    height: 45em;
    margin-top: 3.5em;
    opacity: 30%;
}

/***********************************************/

@media only screen and (min-width: 800px) {
    .convertHeadline {
        font-size: 1.3em;
        padding-top: 1em;
        padding-bottom: 0em;
    }

    .convertFactor {
        font-size: 1.3em;
        padding-top: 1.5em;
        padding-bottom: 0em;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        padding-bottom: 0em;
    }

    .navBar li {
        font-size: 0.9em;
    }
}

@media only screen and (min-height: 800px) {
    .decoration {
        margin-top: 6em;
    }
}
